<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoppets Product Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">
            🐾 Hoppets Product Manager
        </span>
    </div>
</nav>

<div class="container mt-5">

    <h1>Bienvenido a Hoppets</h1>

    <p>
        Sistema web para la gestión y consulta de productos para mascotas.
    </p>

    <button class="btn btn-primary">
        Ver Catálogo
    </button>

</div>

</body>
</html>